
<!--
<h2 class="login-form"></h2>

<a mat-stroked-button color="success" [matMenuTriggerFor]="dropdown" *ngIf="accountService.currentUser$ | async">
    Welcome {{model.username}}!
</a>

<mat-menu #dropdown>
    <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>

<form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off" class="login-form">
    <input name="username" [(ngModel)] ="model.username" type="text" placeholder="Username" class = "login-form">
    <input name="password" [(ngModel)] ="model.password" type="password" placeholder="Password" class ="login-form">
    <button mat-raised-button (click)="login()">Login</button>
    <button mat-raised-button a routerLink="/register">Register</button>
</form>

-->



